.fade-enter {
    transform: translateX(-100%);
}

.fade-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
}

.fade-exit {
    transform: translateX(0%);
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
}
